<!-- <ng-container *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
<!-- <div style="display: flex; justify-content: center; height: 100vh">
    <mat-spinner></mat-spinner>
</div>
</ng-container> --> -->
<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>id</th>
        <td mat-cell *matCellDef="let element">{{element.vehicleType}}</td>
    </ng-container>
    <ng-container matColumnDef="vehicleName">
        <th mat-header-cell *matHeaderCellDef>vehicleName</th>
        <td mat-cell *matCellDef="let element">{{element.vehicleName}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="dataColumn"></tr>
    <tr mat-row *matRowDef="let row; columns: dataColumn;"></tr>
</table> -->




<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="vehicleType">
        <th mat-header-cell *matHeaderCellDef> Vehicle Type </th>
        <td mat-cell *matCellDef="let garage"> {{garage.vehicleType}} </td>
    </ng-container>

    <ng-container matColumnDef="vehicleName">
        <th mat-header-cell *matHeaderCellDef> Vehicle Name </th>
        <td mat-cell *matCellDef="let garage"> {{garage.vehicleName}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<!-- <form (ngSubmit)="addVehicle(vehicleForm.value)">
    <div>
        <label>Vehicle Name:</label>
        <input type="text" name="vehicleName" [(ngModel)]="vehicle.vehicleName">
    </div>
    <div>
        <label>Vehicle Type:</label>
        <input type="text" name="vehicleType" [(ngModel)]="vehicle.vehicleType">
    </div>
    <div>
        <label>RC Status:</label>
        <input type="checkbox" name="rcStatus" [(ngModel)]="vehicle.rcStatus">
    </div>
    <div>
        <label>Vehicle Number:</label>
        <input type="text" name="vehicleNumber" [(ngModel)]="vehicle.vehicleNumber">
    </div>
    <button type="submit">Add Vehicle</button>
</form> -->