<div class="parent">

  <mat-toolbar class="appheader">
    <mat-toolbar-row>
      <ng-template [ngIf]="!isLogin">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
          (click)="opened=!opened">
          <mat-icon>menu</mat-icon>
        </button>
      </ng-template>
      <span>Garage Management System</span>
      <span class="example-spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>


  <mat-sidenav-container class="example-container" *ngIf="shouldRun">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
      (closed)="events.push('close!')">
      <mat-nav-list>
        <a mat-list-item routerLink="/register" routerLinkActive="active" (click)="opened=!opened">Register</a>
        <a mat-list-item routerLink="/login" routerLinkActive="active" (click)="opened=!opened">Login</a>
      </mat-nav-list>
      <!-- <li routerLink="/login" style="cursor: context-menu" routerLinkActive="active nav-content">Login</li> -->

    </mat-sidenav>

    <mat-sidenav-content style="height: 100vh;">
      <router-outlet></router-outlet>
    </mat-sidenav-content>


  </mat-sidenav-container>
</div>