.mat-mdc-form-field {
    width: 100%;
}

.align-iten-center {
    align-items: center;
}

.width-100 {
    width: 100%;
}

.custom-dialog-container .mat-dialog-container {
    overflow-y: hidden;
}

.padding {
    padding: 5%;
}