<ng-container *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-container>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="vehicleName">
        <th mat-header-cell *matHeaderCellDef><strong style="font-size: large;">vehicleName</strong></th>
        <td mat-cell *matCellDef="let maintanacesummarys"> {{maintanacesummarys.vehicleName}} </td>
    </ng-container>
    <ng-container matColumnDef="vehicleType">
        <th mat-header-cell *matHeaderCellDef> <strong style="font-size: large;">vehicleType</strong></th>
        <td mat-cell *matCellDef="let maintanacesummarys"> {{maintanacesummarys.vehicleType}} </td>
    </ng-container>
    <ng-container matColumnDef="vehicleNumber">
        <th mat-header-cell *matHeaderCellDef><strong style="font-size: large;">vehicleNumber</strong></th>
        <td mat-cell *matCellDef="let maintanacesummarys"> {{maintanacesummarys.vehicleNumber}} </td>
    </ng-container>
    <ng-container matColumnDef="insuranceValidation">
        <th mat-header-cell *matHeaderCellDef><strong style="font-size: large;">insuranceValidation</strong></th>
        <td mat-cell *matCellDef="let maintanacesummarys"> {{maintanacesummarys.insuranceValidation}} </td>
    </ng-container>
    <ng-container matColumnDef="fitnessValidity">
        <th mat-header-cell *matHeaderCellDef><strong style="font-size: large;">fitnessValidity</strong></th>
        <td mat-cell *matCellDef="let maintanacesummarys"> {{maintanacesummarys.fitnessValidity}} </td>
    </ng-container>
    <ng-container matColumnDef="detail">
        <th mat-header-cell *matHeaderCellDef><strong style="font-size: large;">detail</strong></th>
        <td mat-cell *matCellDef="let maintanacesummarys"> {{maintanacesummarys.detail}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>