<mat-card>
    <mat-card-title [ngClass]="'custom-class'">Login</mat-card-title>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput placeholder="Email" formControlName="email" required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password" required>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
        <hr>
        <br>
        <button mat-raised-button routerLink="/register">Sign up</button>
    </form>
</mat-card>