<mat-toolbar color="primary">
    <span>Garage Management Dashboard</span>
</mat-toolbar>

<!-- <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h4>Occupancy</h4>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>30%</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h4>Vehicle Count</h4>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>135</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h4>Available </h4>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>200</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h4>Income</h4>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>10000</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

</mat-grid-list>

<button mat-raised-button (click)="openDialog()">Open Dialog</button>

<ng-template #dialogTemplate>
    <h2 mat-dialog-title>Vehicle Form</h2>
    <mat-dialog-content>
        <form>
            <mat-form-field>
                <input matInput placeholder="Vehicle make" [(ngModel)]="vehicleMake">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Vehicle model" [(ngModel)]="vehicleModel">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Vehicle color" [(ngModel)]="vehicleColor">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Vehicle license plate" [(ngModel)]="vehicleLicensePlate">
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button (click)="addVehicle()">Add Vehicle</button>
        <button mat-button (click)="closeDialog()">Close</button>
    </mat-dialog-actions>
</ng-template>



<button mat-button (click)="successMessage()">Click</button>
<br> -->

<mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile style="background-color:#17a3b8;">
        <div class="container">
            <div class="row">
                <div class="column">
                    <div class="count">
                        {{dashBoardData[0].number_Of_Loads}}
                    </div>
                    <div class="dashboard_title">
                        Total Loads Today
                    </div>
                </div>
                <div class="column">
                    <mat-icon fontSet="myfont" fontIcon="my-icon-name"></mat-icon>
                </div>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile style="background-color: #27a745;">
        <div class="container">
            <div class="row">
                <div class="column">
                    <div class="count">
                        {{dashBoardData[0].totalEarnings}}

                    </div>
                    <div class="dashboard_title">
                        Total Earning Today
                    </div>
                </div>
                <div class="column">
                    <mat-icon fontSet="myfont" fontIcon="my-icon-name"></mat-icon>
                </div>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile style="background-color: #017bff;">
        <div class="container">
            <div class="row">
                <div class="column">
                    <div class="count">
                        {{dashBoardData[0].vehicleCount}}

                    </div>
                    <div class="dashboard_title">
                        Total Vehicles
                    </div>
                </div>
                <div class="column">
                    <mat-icon fontSet="myfont" fontIcon="my-icon-name"></mat-icon>
                </div>
            </div>
        </div>
    </mat-grid-tile>
    <!-- <mat-grid-tile style="background-color: #17a3b8;">
        <div class="container">
            <div class="row">
                <div class="column">
                    <div class="count">
                        150
                    </div>
                    <div class="dashboard_title">
                        Total Number of Drivers
                    </div>
                </div>
                <div class="column">
                    <mat-icon fontSet="myfont" fontIcon="my-icon-name"></mat-icon>
                </div>
            </div>
        </div>
    </mat-grid-tile> -->
</mat-grid-list>