<ng-container *ngIf="isLoading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-container>

<button mat-raised-button color="primary" (click)="openDialog()" [disabled]="selectedRow.length==1">Add</button>
<button mat-raised-button color="primary" (click)="openDialog()" [disabled]="!(selectedRow.length==1)">Edit</button>
<table mat-table [dataSource]="data" class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <!-- <mat-checkbox (change)="$event ? toggleAllRows() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox> -->
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="vehicleName">
        <th mat-header-cell *matHeaderCellDef> Vehicle Name </th>
        <td mat-cell *matCellDef="let element"> {{element.vehicleName}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="vehicleType">
        <th mat-header-cell *matHeaderCellDef> Vehicle Type </th>
        <td mat-cell *matCellDef="let element"> {{element.vehicleType}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="vehicleNumber">
        <th mat-header-cell *matHeaderCellDef> Vehicle Number </th>
        <td mat-cell *matCellDef="let element"> {{element.vehicleNumber}} </td>
    </ng-container>
    <ng-container matColumnDef="insuranceValidity">
        <th mat-header-cell *matHeaderCellDef> Insurance Validity</th>
        <td mat-cell *matCellDef="let element"> {{element.insuranceValidity}} </td>
    </ng-container>
    <ng-container matColumnDef="fitnessValidity">
        <th mat-header-cell *matHeaderCellDef> Fitness Validity </th>
        <td mat-cell *matCellDef="let element"> {{element.fitnessValidity}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"> </tr>
</table>